.hero__title {
  margin-top: 100px;
  font-size: 45px;
  line-height: 64px;
  color: #0e820e;
  text-align: center;
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
}

.duration-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #0e820e;
}

.regions {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #0e820e;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

thead {
  border-bottom: 1px solid black;
}

th {
  padding: 10px 20px;
}

td {
  padding: 6px 25px;
}

.times-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.times {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #0e820e;
}

.times-time {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  color: #0e820e;
}

.times-day {
  font-size: 14px;
  color: #212529;
}

.weekly-table {
}

.weekly-body {
}
